<h1>Welcome to {{title}}</h1>
<p>
    {{#each subModules}}
    <div><a href="/{{this}}/">{{this}}</a></div>
    {{/each}}

    <div><a href="/api/tree/docs/">Docs Tree</a></div>
    <div><a href="/api/docs/">Docs under docs/ </a></div>
    <div><a href="/api/docs/world/">Docs under docs/world/ </a></div>
</p>
