{{> top_panel}}

<p>
    Welcome, My friend!!!
</p>

<div style="align: center; clear: both; width: 300px; margin-bottom: 30px;">
    <a title="Free Flat Icons" href="https://www.elegantthemes.com/blog/freebie-of-the-week/beautiful-flat-icons-for-free">
        <img style="clear: both;" width="100%" src="https://www.elegantthemes.com/blog/wp-content/uploads/2013/10/free-flat-icons.png"
            alt="Free Flat Icons" />
    </a>
    <div style="margin-left: 120px; width: 300px; background-color: #fff; padding: 30px; margin-top: 40px;">Download these beautiful
        <a href="https://www.elegantthemes.com/blog/freebie-of-the-week/beautiful-flat-icons-for-free">Free Flat Icons</a> designed by
        <a href="https://www.elegantthemes.com">ElegantThemes.com</a>.</div>
</div>