<html>
  <head>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css"/>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript">
        let tableData = {{{tableData}}};
        let tableTitle = {{{tableTitle}}};
        $(document).ready(function() {
            $('#gplist').DataTable( {
                "data": tableData,
                "columns": tableTitle,
                "columnDefs": [
                        { 
                            "render": function (data, type, row) {
                                return `<a href="history?id=${data}">${data}</a>`;
                            },
                            "targets": 0
                        }
                    ],
                "lengthMenu": [[16, 68, 168, -1], [16, 68, 168, "All"]],
                "pageLength": 68
            } );
        } );
    </script>
  </head>
  <body>
    <form action="list" method="GET">
    <label for="SearchHint">Search for:</label>
    <input id="q" type="text" name="q" value="{{q}}"/>
    <input type="submit" value="Search"/>
    </form>
    
    <h1>{{title}}</h1>
    
    <table id="gplist" class="display" width="100%"></table>
  </body>
</html>
    